<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeerTracker"
        tools:targetApi="31">
        <activity
            android:name=".views.Listar_Productos_Activity"
            android:exported="false" />
        <activity
            android:name=".views.Registro_Experiencia_Activity"
            android:exported="false" />
        <activity
            android:name=".views.Registro_Producto_Activity"
            android:exported="false" />
        <activity
            android:name=".views.Buscar_Experiencia_Activity"
            android:exported="false" />
        <activity
            android:name=".views.Buscar_Producto_Activity"
            android:exported="false"
            android:label="@string/title_activity_buscar_producto"
            android:theme="@style/Theme.BeerTracker" />
        <activity
            android:name=".views.Registrar_Activity"
            android:exported="false" />
        <activity
            android:name=".views.Recuperar_Contrasena_Activity"
            android:exported="false" />
        <activity
            android:name=".views.Registro_Usuario_Activity"
            android:exported="false" />
        <activity
            android:name=".views.Login_Activity"
            android:exported="false" />
        <activity
            android:name=".views.Main_Menu_Activity"
            android:exported="false" />
        <activity
            android:name=".views.Buscar_Activity"
            android:exported="false" />
        <activity
            android:name=".views.Bienvenida_Activity"
            android:exported="false" />
        <activity
            android:name=".views.Perfil_Activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>